# Loading Datas in Pandas

In [4]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

# use delimiter to separate txt files
# df = pd.read_csv('pokemon_data.csv',delimiter = "\t")

# print(df)

# without mentioning anything the first 5  indexes are return
# print(df.head()) --> read rows

# print(df.head(3))

print(df.tail(10))

       #                 Name   Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
790  714               Noibat   Flying  Dragon   40      30       35       45
791  715              Noivern   Flying  Dragon   85      70       80       97
792  716              Xerneas    Fairy     NaN  126     131       95      131
793  717              Yveltal     Dark  Flying  126     131       95      131
794  718     Zygarde50% Forme   Dragon  Ground  108     100      121       81
795  719              Diancie     Rock   Fairy   50     100      150      100
796  719  DiancieMega Diancie     Rock   Fairy   50     160      110      160
797  720  HoopaHoopa Confined  Psychic   Ghost   80     110       60      150
798  720   HoopaHoopa Unbound  Psychic    Dark   80     160       60      170
799  721            Volcanion     Fire   Water   80     110      120      130

     Sp. Def  Speed  Generation  Legendary
790       40     55           6      False
791       80    123           6      False
792       98     99           6       True
793       98     99           6       True
794       95     95           6       True
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

# Reading Files

In [4]:
# Read headers
# df.columns

# Read specific columns
# df.Name[0:5]
# print(df[["Name","Type 1","Attack"][0:5]])

# Read specific rows & columns based on position --> iloc  --> integer Location
# df.head(3)  # head[1:3] ‚ùå
# df.iloc[1:3]

# iloc [R,C]
df.iloc[2,1]

'Venusaur'

# Iterate through row

In [ ]:
# Reading the data iterate through each row 
for index, row in df.iterrows():
    print(index,row['Name'])

# Conditions

In [ ]:
# Finding specific data that isn't integer, includes txt,num,etc..,
df.loc[df['Type 1'] == "Fire"]

# Sorting & Describing data

In [32]:
# Statistical formulas
# df.describe()

# Sorting 
# df.sort_values("Name", ascending = False)
df.sort_values(["Type 1","HP"], ascending = [1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

# Making changes to the data

In [6]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df = df.drop(columns= 'Total')


# sum --> (axis=1)--> horizontal, (axis=0) --> vertical
df['Total'] = df.iloc[:,4:10].sum(axis=1)

# Reorder columns using slicing
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]] #if string isn't converted to int error-->use to enclose within []
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
# Exporting into desired format
df.to_excel('modified.xlsx', index = False)
45+49+49+65+65+45

318

# Filtering Data & Reseting indexes

In [22]:
# Filtering
new_df = df.loc[(df['Type 1'] == 'Grass')& (df['Type 2'] == 'Poison') & (df['HP']> 70)]


# Reset index
# new_df = new_df.reset_index()
new_df.reset_index(drop= True,inplace= True)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [32]:
# Only gives the "name" in "mege"
df.loc[df['Name'].str.contains("Mega")]

# regex --> using multiple conditions ,flags=re.I --> ignore case
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex= True)]

#  ^ --> start wiht "pi", * --> 0 or more
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex= True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# Conditionals

In [38]:
# Change "Fire" into "Flammer" in "Type 1"
# df.loc[df['Type 1'] == 'Fire','Type 1'] = "Flammer"
df.loc[df['Type 1'] == 'Fire','Legendary'] =True

# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

df.head(10)
df.to_csv('filtered.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Aggregate Statistics (Group By)

In [48]:
df = pd.read_csv('filtered.csv')
# df
df.groupby(['Type 1']).mean(numeric_only=True)
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True